#main
{
height:500px;
width:600px;
background-color:#efefef;
border:2px solid black;
}
#l1r1
{
height:35%;
width:90%;
float:right;
background:blue;

}
#l1r2
{
margin-top:25%;
height:35%;
width:90%;
background:blue;
float:left;
}
#l1r3
{
margin-top:-29.2%;
height:10%;
width:10%;
background:green;
float:left;
margin-left:-90%;
}
#l1r4
{
margin-top:45.8%;
height:10%;
width:10%;
background:green;
float:right;
margin-left:-90%;
}


#l3r1
{
height:10%;
width:100%;
background:blue;
}
#l3r2
{
margin-top:5%;
height:35%;
width:30%;
background:blue;
float:left;
}
#l3r3
{
margin-top:5%;
height:25%;
width:30%;
background:blue;
float:right;
margin-right:0;
}
#l3r4
{
margin-top:22%;
height:47%;
width:30%;
background:blue;
margin-left:35%;
}
#l3r5
{
margin-top:3%;
height:12%;
width:100%;
background:blue;
}
#l3r6
{
margin-top:-20%;
height:10%;
width:10%;
background:green;
}
#l3r7
{
margin-top:-20%;
height:10%;
width:10%;
background:green;
margin-left:90%;
}

#l5r1
{
height:10%;
width:100%;
background:blue;
}
#l5r2
{
height:35%;
width:10%;
background:blue;
}
#l5r3
{
margin-top:-30%;
height:20%;
width:20%;
background:blue;
margin-left:15%;
}
#l5r4
{
margin-top:-18%;
height:45%;
width:20%;
background:blue;
margin-left:40%;
}
#l5r5
{
margin-top:-37%;
height:45%;
width:35%;
background:blue;
margin-left:65%;
}

#l5r6
{
margin-top:-3%;
height:50%;
width:20%;
background:blue;
margin-left:0%;
}
#l5r7
{
margin-top:-55%;
height:66%;
width:10%;
background:blue;
margin-left:25%;
}
#l5r8
{
margin-top:-45%;
height:42%;
width:15%;
background:blue;
margin-left:45%;
}
#l5r9
{
margin-top:-19%;
height:35%;
width:15%;
background:blue;
margin-left:65%;
}
#l5r10
{
margin-top:-45%;
height:45%;
width:15%;
background:blue;
margin-left:85%;
}
#l5r11
{
margin-top:-38%;
height:4.5%;
width:10%;
background:green;
margin-left:0%;
}
#l5r12
{
margin-top:34.2%;
height:9.5%;
width:10%;
background:green;
margin-left:90%;
}





